
/* Colors */
$primary-color: #D90F16;
$primary-color-light: #E34B50;
$primary-color-dark: #ac0000;

$green-light: #D8F6D8;
$green-medium: #0EC236;
$green-dark: #186B0B;

$gray-light: #F5F5F5;
$gray-medium: #D9D9D9;
$gray-dark: #BDB4B4;
$gray-darker: #9B9898;
$brown: #443C3C;

$white: #FFFFFF;
$black: #000000;
$background: #F9F9F9;

/* Font-size */
$fz-xsm: 0.75rem;
$fz-sm: 0.875rem;
$fz-md: 1rem;
$fz-lg: 1.25rem;
$fz-xlg: 1.5rem;
$fz-xxlg: 4rem;

/* Font-weight */
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

/* Border-radius */
$br-sm: 4px;
$br-md: 8px;
$br-lg: 16px;